[supervisord]
nodaemon=true

[program:server]
command=/honeyplc/honeyplc/snap7/examples/cpp/x86_64-linux/server 127.0.0.1
directory=/honeyplc/honeyplc/snap7/examples/cpp/x86_64-linux
autostart=true
autorestart=true
redirect_stderr=true

[program:honeyd]
command=/honeyplc/Hpneyd -d -f /path/to/config.ethernet -i lo
directory=/honeyplc/Hpneyd
autostart=true
autorestart=true
redirect_stderr=true

[program:plcinject]
command=bash -c "echo yes | /honeyplc/PLCinject/plcinject -c 192.168.0.125 -d"
directory=/honeyplc/PLCinject
autostart=true
autorestart=true
redirect_stderr=true

